<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "/static/style.css"/>
  </head>
  <body>
    <h1>Sensor Data:</h1>
    <h2>Current Temperature: {{Temperature}} °C</h2>
    <h2>Current Humidity: {{Humidity}}%</h2>
    
    <h3>Sensor Box Plot Data:</h3>
    <form method = "post" action = "/selectbox">
      <select name = "dropdownitem">
        {% for item in dropdown %}
        <option value = "{{item}}" SELECTED>{{item}}</option>
        {% endfor %}
      </select>
      <button type = "submit" >Go</button>
    </form>

    <h3><a href="/box">Two day summary comparison</a></h3>

    <hr class="solid">
      <div class="row">
        <div class="column">
          <img src="/static/humidity.svg" alt="10 day humidity average">
        </div>
        <div class="column">
          <img src="/static/temperature.svg" alt="10 day temperature average">
        </div>
      </div>
    <hr class="solid">
  </body>
</html>
